
.about-wrapper {
    background-color:#212121;
    height: 100%;
    overflow: hidden;
.about-C {
    color:white;
    // padding: 80px 20px;
    position: relative;
    display: flex;
    height: 100vh;

    @media (max-width: 375px) {
        padding: 50px 0px;
    }
    

    .about-me {
        width: 100vw;
        text-align: start;
        display: flex;
        gap: 2rem;
        overflow: hidden;
        gap: 5rem;
        justify-content: center;
        position: relative;
        top: 20vh;
        
        .title-wrapper {
            h2 {
                color: rgba(252, 246, 244, 0.1);
    font-size: 36px;
    z-index: 0;
    width: fit-content;
    border-bottom: 1px solid #e4aa4899;

 
            }
 
        }

        .content-wrapper {
            width: 50vw;
            display: flex;
            flex-direction: column;
            gap: 1rem;
                        .title {
                .Typewriter {
                    color: aqua;
                }
            }
            h3 {
                font-weight: 900;
            }
        }

        p {
            line-height: 2;
            // width: 40vw;
        }

        button {
            width: fit-content;
        }

    

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            // position: unset;
            align-items:center;
            gap: 2rem;
            top: 1rem;

            .content-wrapper {
                width: 65vw;
            }

            .title-wrapper {
                width: 65vw;

                h2 {
                    // margin-top: 40px;
                }
            }
        }
        @media (max-width: 375px) {
            padding-top: 2rem;
       }
    }


}    .about-Overlay {
    position: fixed;
    background-color:#000000;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
}


.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    .title-wrapper {
        h2 {
            color: rgba(252, 246, 244, 0.1);
font-size: 36px;
z-index: 0;
width: fit-content;
border-bottom: 1px solid #e4aa4899;


        }}
    .progress {
        display: flex;
        width:50vw;
        justify-content: space-evenly;
        gap: 1rem;
    }
.p-circle{
    margin: 5px;
}

@media (max-width: 768px) {
    flex-direction: column !important;
    justify-content: center;
    align-items:center;
    gap: 2rem;

    .title-wrapper {
        width: 65vw !important;
    }
    .progress {
        width: 65vw;
        flex-direction: column;
    }
}
}