.social-medials {
    // top: 70%;
    left: 20px;
    bottom: 4%;
    position: fixed;
    z-index: 4;
  
    &::before {
      content: "";
      width: 1px;
      height: 30px;
      background: hsla(0, 0%, 49%, 0.4);
      position: absolute;
      left: 13px;
      top: -40px;
    }
  
    ul {
        margin-bottom: 0px;
    }
    //   &::after {
    //     font-family: "Oswald", sans-serif;
    //     color: #888;
    //     content: "SOCIAL";
    //     position: absolute;
    //     left: -28px;
    //     top: -135px;
    //     letter-spacing: 5px;
    //     transform: rotate(-90deg);
    //   }
    // }
  }
  


