.section1 {
  height: 100vh;
  background-color: #212121;
  color: #f4f4f4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   width: 1px;
  //   height: 100%;
  //   background: hsla(0, 0%, 40%, 0.3);
  //   left: 18%;
  //   z-index: 99;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   width: 1px;
  //   height: 100%;
  //   background: hsla(0, 0%, 40%, 0.3);
  //   z-index: 99;
  //   right: 18% !important;
  // }

  .hero {
    width: 70%;
    margin-left: 20%;
    width: max-content;
    
    .title {
      font-size: 3em;
      font-family: "Almarena almarena display";
      animation: fadeInLeft 1.5s both;

      @media (max-width: 479px) {
        font-size: 8vw;
      }
      &:hover {
        mask-image: -webkit-linear-gradient(
          165deg,
          rgba(0, 0, 0, 0.6) 30%,
          #000 50%,
          rgba(0, 0, 0, 0.6) 70%
        );
        mask-size: 200%;
        -webkit-animation: shine 1s infinite;
        animation: shine 1s infinite;
      }
    }
    .subtitle {
      font-size: 1.15em;
      // text-transform: uppercase;
      font-family: "Neuemontreal";
      animation: fadeInLeft 1.5s both;
      max-width: 20em;
      @media (max-width: 479px) {
        font-size: 3.7vw;
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   margin-left: 210px;
      //   margin-top: 10px;
      //   width: 65px;
      //   height: 1px;
      //   background: #fb9801;
      //   transition: all 0.3s;
      // }
    }

    @media (max-width: 768px) {
      // text-align: center;
      margin-left: auto;
      position: relative;
      top: -50px;

      .subtitle {
        font-size: 0.9rem;
        &::before {
          display: none;
        }
      }
    }

    // floating letters
    div {
      h1 {
        color: #fff;
        font-size: 8em;
        position: absolute;
        transform: translate(-50%, -50%);

        &:nth-child(1) {
          color: transparent;
          -webkit-text-stroke: 2px #03a9f4;
        }

        &:nth-child(2) {
          color: #03a9f4;
          animation: animate 4s ease-in-out infinite;

          @keyframes animate {
            0%,
            100% {
              clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
              );
            }

            50% {
              clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
              );
            }
          }
        }
      }
    }
  }

  .scroll-down {

    // @media (max-width: 500px) {
    //   justify-content: center;
      
    // }
    svg {
      width: 30px;
      height: 30px;
      animation: pulse 2s infinite;

      @keyframes pulse {
        0% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }

        50% {
          -webkit-transform: translate(0, 10px);
          transform: translate(30px, 0px);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }


    }
  }
  .space {
    width: 25vw;
    margin-left: auto;
    right: 0;
    position: absolute;
    bottom: -70px;
    img {
      animation: 4s ease 0s infinite normal none running spacewoman;
    }

    @keyframes spacewoman {
      0% {
        transform: translateY(-10px);
      }

      50% {
        transform: translateY(15px) translateX(15px);
      }

      100% {
        transform: translateY(-10px);
      }
    }
  }

  @media (max-width: 768px) {
    .space {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .freelance {
    position: relative;
    display: flex;
    width: fit-content;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 9px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-family: 'NeueMontrealRegular';
    pointer-events: auto;
    transition: background-color 0.3s ease 0s;
    // backdrop-filter: blur(6px);
    border: 0.5px solid rgb(64, 64, 64);
    padding: 14px 24px 14px 36px;

 

    @media (min-width: 768px) {
      display: none;
    }

    .circle  {
        left: -4px;
        position: absolute;
        margin-left: 24px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: rgb(151, 147, 191);
    }

    a {
        text-decoration: none;
letter-spacing: 0.3px;
transition: color 0.3s ease 0s;
    }

   }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background:rgb(177, 49, 49);
  position: absolute;
  z-index: 9999;

  animation: overlay 2s ease-in normal;
  

  @keyframes overlay {
    0% {
      left: 0%;
      width: 100vw;
    }
  
  50% {
    left: 50%;
    width: 50vw;
  }
 
  100% {
    left: 100%;
    width: 0px;
    // opacity: 0;
    // background:transparent;
  }
  }
}

.freelance:hover {
    background-color: #4444447d !important;
  
}