.navigation {
    display: flex;
    flex-direction: column;
    gap:5px;
    position: fixed;
    top: 50%;
    left:90%;
    z-index: 200;
    
    a {
        fill: #fff;
    background: 0 0;
    display: block;
    margin: 0 -9px;
    padding: 9px;
    position: relative;

    span {
        background: #000000a1;
        border-radius: 100%;
        box-shadow: 0 0 1px #303030;
        content: "";
        display: block;
        height: 20px;
        /* opacity: 0.3; */
        border: 1px solid #ffffff69;
        transition: 0.25s;
        width: 20px;
    }
    }
}