@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.home {


  .sections {
    width: 100%;
    height: 100vh;
    // top: 70px;
    position: relative;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  
    > * {
      // height: calc(100vh - 70px);
      scroll-snap-align: start;
  
    }
  }
  

}

.overlay {
  width: 100vw;
  height: 100vh;
  background:rgba(209, 24, 24, 0.555);
  position: absolute;
  z-index: 9999;

  animation: overlay 2s ease-in normal;
  

  @keyframes overlay {
    0% {
      left: 0%;
      width: 100vw;
    }
  
  50% {
    left: 50%;
    width: 50vw;
  }
 
  100% {
    left: 100%;
    width: 0px;
    // opacity: 0;
    // background:transparent;
  }
  }
}