.portfolio-wrapper {
  background: #212121;
  color: white;
  padding: 80px 20px;

  .portfolio {
    width: 60vw;
    margin: auto;
    .port-title {
      color: rgba(252, 246, 244, 0.1);
      font-size: 48px;
      z-index: 0;
      width: fit-content;
      border-bottom: 1px solid #e4aa4899;
    }

    .header {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      li {
        cursor: pointer;

        &.active {
          border: 1px solid white;
          padding: 5px 20px;
          border-radius: 8px;
        }
      }
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 50px;
      column-gap: 50px;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
      .project {
        // width: 20rem;
        height: 100%;
        .img {
          width: 100%;
          height: 10rem;
          display: flex;

          a {
            opacity: 0;
            color: white;
            cursor: pointer;
          }
          &:hover {
            a {
              background-color: rgba(255, 255, 255, 0.4);
              background-color: #000000fc;
              -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px);
              padding: 20px;
              margin: auto;
              font-weight: bold;
              opacity: 0.8;
              width: 90%;
              height: 90%;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: scale(1);
              transition: all 0.4s;
            }
          }
        }
        .content {
          background-color: #111111;
          color: white;
          padding: 10px;

          .tag {
            span {
              border-right: 1px solid rgb(255, 255, 255);
              padding-right: 10px;
              // border-radius: 8px;

              &:last-child {
                border: none;
              }
            }
          }

          .gitIcon {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .sample {
    background-color: transparent;
    opacity: 0.8;
    position: fixed;   
        width: 100px;
        height: 100px;
        top: 2%;
        z-index: 22;

        background-image: radial-gradient(#b86218 2px, transparent 2px);
        background-size: 32px 32px;
        background-color: rgba(186, 22, 159, 0);
  }
}
